*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
background: linear-gradient(to right, #87CEEB, #C8E6C9);
    margin: auto;
    width: 100%;
}
header {
  text-align: center;
  padding: 30px;

 
}

/* Main Title */
header h1 {
  font-family: 'Fredoka', sans-serif; /* playful font */
  font-size: 3rem;
  color: #333; 
  text-shadow: 2px 2px 0px #fff, 4px 4px 8px rgba(0,0,0,0.2); /* fun shadow */
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* Subtitle */
header p {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.3rem;
  color: #444;
  background: #ffffff81;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.box{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 10px #0000004d;
    background: white;
    padding: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.box:hover {
  transform: scale(1.05);
}
.box img{
    height: 190px;
    width: 100%; 
    border-radius: 20px;
}
.box img:active {
  transform: scale(1.1) rotate(3deg);
  transition: 0.2s;
}

.box audio{

    width: 100%;

}
.con-tain{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10%;
    width: 100%;
    
}
/* Birthday Overlay */
